
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum scale=1.0">
    <title>Переход на трансляцию</title>
    <link rel="stylesheet" href="{% static '/WatchLogin/WL.css'%}"/>
</head>
<body>
<div1 class="container23">
    <div0 class="container20"></div0>
    <div4 class="container21"></div4>
    <button class="buttonLog">fuit</button>
    <form>
        <div class="input-field">
            <input type="text" name="" required="">
            <label>Вставьте ссылку сюда</label>
        </div>


    </form>
    <div3 class="text2">Введите ссылку-приглашение от автора</div3>
</div1>
</body>
</html>

