body {
    background-color: #362C73;
}
.container50 {
    max-width: 100%;
    max-height: 100vh;
}

.container51{
    float: left;
    position: relative;
    left: 113px;
    top: 200px;

}
.bm{
    position: absolute;
    width: 500px;
    height: 66px;
    left: 710px;
    top: 30px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.07em;
    color: lightslategrey;
}

.container52{
    position: absolute;
    width: 1920px;
    height: 135px;
    left: 0px;
    top: 0px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container53b{
    position: absolute;
    width: 376px;
    height: 82px;
    left: 113px;
    top: 807px;
    border-radius: 25px;
    padding: 20px;
    background-color: transparent;
}

.container53b:hover{
    opacity: .8;
    cursor: pointer;
}

.container55 {
    position: absolute;
    left: 800px;
    top: 220px;

}
.video-container {
    position: absolute;
    left: 600px;
    top: 875px;
    height: 35px;
    width: 500px;
    background: #000;
    color: #fff;
}
.video-player {
    width:100%;
    margin:0;
}
.video-hud {
    position: relative;
    left: 20px;
    top: 3px;
}
.video-hud__element {
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    height:30px;
}
.video-hud__action {
    width:30px;
}
.video-hud__action_play {
    background:#ccc;
    border-radius:0 100px 100px 0;
}
.video-hud__action_pause {
    background:#c00;
}
.video-hud__mute {
    width:30px;
    border-radius:100px 100px 100px 100px;
}
.video-hud__mute_true {
    background:#c00;
}
.video-hud__mute_false {
    background:#ccc;
}
.video-hud__download {
    background:#ccc;
    width:30px;
    border-radius:0 0 100px 100px;
}
.track-wrp-one {
    position: relative;
    top: 202px;
    left: 150px;
}
.caption {
     padding-bottom: 15px;
    position: absolute;
    left: 130px;
    top: -38px;
    width: max-content;
}

li {
    font-size: 20px;
    font-weight: bold;
    margin-left: -40px;
    list-style: none;
}
