<!DOCTYPE html>
{% load static %}
<html lang="en">
<meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum scale=1.0">
 <link rel="stylesheet" href="{% static '/LogPage.css'%}"/>
    <title>П</title>
<head>
    <meta charset="UTF-8">
    <div class="containerlp">
        <form action="{% url 'OPC' request.user.username %}">
        <button class="buttonlp">Подтвердить</button>
        </form>
    </div>
</head>
</html>